.log_wrap {
    display: flex;
    flex-direction: column;
}

.msgs-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.alert {
    width: 700px;
    padding: 12px 20px;
    margin-bottom: 16px;
    border: 3px solid transparent;
    background-color: transparent;
    font-weight: 800;
}

.alert:last-child {
    margin-bottom: 40px;
}

.alert-info {
    color: #0c5460;
    border-color: #0c5460;
}

.alert-danger {
    color: #721c24;
    border-color: #721c24;
}
