.park_main {
    padding: 200px 0;
}

.coordinates {
    margin: 0 auto 20px;
    width: 450px;
    display: flex;
    justify-content: center;
    color: white;
}

.parkings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}

.parking {
    margin: 0 20px 30px;
    display: flex;
    flex-direction: column;
}

.shadowbox {
    width: 40em;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    background-image: -moz-linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}
