<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap-reboot.css" th:href="@{/css/bootstrap-reboot.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/error.css" th:href="@{/css/error.css}">
    <title>Smart parking</title>
</head>
<body>
<header class="main_header bg1">
    <div class="header_top">
        <img alt="user" class="user_logo" src="../static/icons/user.svg" th:src="@{/icons/user.svg}">
        user_name
    </div>
    <div class="header_bottom">
        <div class="logo">
            <img alt="logo" class="logo_icon" src="../static/icons/logoCircle.png" th:src="@{/icons/logoCircle.png}"/>
            <h3>SMART PARKING</h3>
        </div>
        <div class="menu">
            <nav class="header_nav">
                <ul>
                    <li>
                        <a class="header_nav_link" href="index.html" th:href="@{/}">Головна</a>
                    </li>
                    <li>
                        <a class="header_nav_link" href="login.html" th:href="@{/login}">Вхід</a>
                    </li>
                    <li>
                        <a class="header_nav_link" href="registration.html" th:href="@{/registration}">Реєстрація</a>
                    </li>
                </ul>
            </nav>
            <!--TODO lang-->
        </div>
    </div>
</header>

<section class="error bg2">
    <div class="msg">
        <div>
            <h1>Доступ заборонено</h1>
            <div class="icon">
                <img src="../static/icons/error_icon.png" alt="error" th:src="@{/icons/error_icon.png}"/>
            </div>
        </div>
    </div>
</section>

<footer class="main_footer bg1">
    <div class="footer_text">
        @explorers_team | Сайт створено з божою поміччю
    </div>
</footer>
</body>
</html>