<!DOCTYPE html>
<html lang="en" th:lang="${#locale.getLanguage()}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap-reboot.css" th:href="@{/css/bootstrap-reboot.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
    <title>Smart parking</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<section class="history bg2">
    <div class="history_text">
        <h1 th:text="#{index.history.h1}"></h1>
        <p th:text="#{index.history.p.first}"></p>
        <p th:text="#{index.history.p.second}"></p>
        <p>[[#{index.history.p.third.part1}]] <b>Smart Parking</b>[[#{index.history.p.third.part2}]]</p>
    </div>
    <img class="history_image" alt="parking_photo" src="../static/img/park_earth_logo.png"
         th:src="@{/img/park_earth_logo.png}">
</section>

<section class="bridge">
    <div class="bridge_mask">
        <div class="bridge_text">
            <h2>Smart<br>parking</h2>
            <p th:text="#{index.bridge.p}"></p>
        </div>
    </div>
</section>

<section class="about_app bg2">
    <h2 th:text="#{index.about.h2}"></h2>
    <p th:text="#{index.about.p.first}"></p>
    <p th:text="#{index.about.p.second}"></p>
    <p th:text="#{index.about.p.third}"></p>
    <p th:text="#{index.about.p.fourth}"></p>
</section>

<div class="none" id="playVideo">
    <div><i class="fas fa-play"></i></div>
</div>

<section class="features">
    <div class="carousel">
        <div class="carousel_item">
            <div class="mask">
                <div>
                    <h2 th:text="#{index.carousel.h2.first}"></h2>
                </div>
            </div>
            <img alt="crsl_img" src="../static/img/crsl_1.jpg" th:src="@{/img/crsl_1.jpg}"/>
        </div>
        <div class="carousel_item">
            <div class="mask">
                <div>
                    <h2 th:text="#{index.carousel.h2.second}"></h2>
                </div>
            </div>
            <img alt="crsl_img" src="../static/img/crsl_2.jpg" th:src="@{/img/crsl_2.jpg}"/>
        </div>
        <div class="carousel_item">
            <div class="mask">
                <div>
                    <h2 th:text="#{index.carousel.h2.third}"></h2>
                </div>
            </div>
            <img alt="crsl_img" src="../static/img/crsl_3.jpg" th:src="@{/img/crsl_3.jpg}"/>
        </div>
    </div>
</section>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
