<!DOCTYPE html>
<html th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap-reboot.css" th:href="@{/css/bootstrap-reboot.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">
    <title>Smart parking</title>
</head>
<body>
<header class="main_header bg1">
    <div class="header_top">
        <img class="user_logo" alt="user" src="../static/icons/user.svg" th:src="@{/icons/user.svg}">
        user_name
    </div>
    <div class="header_bottom">
        <div class="logo">
            <img class="logo_icon" alt="logo" src="../static/icons/logoCircle.png" th:src="@{/icons/logoCircle.png}"/>
            <h3>SMART PARKING</h3>
        </div>
        <div class="menu">
            <nav class="header_nav">
                <ul>
                    <li>
                        <a class="header_nav_link" href="index.html" th:href="@{/}">Головна</a>
                    </li>
                    <li>
                        <a class="header_nav_link" href="login.html" th:href="@{/login}">Вхід</a>
                    </li>
                    <li>
                        <a class="header_nav_link" href="registration.html" th:href="@{/registration}">Реєстрація</a>
                    </li>
                </ul>
            </nav>
            <!--TODO lang-->
        </div>
    </div>
</header>

<section class="simple_form_section bg2">
    <div class="log_wrap">
        <div class="msgs-container">
            <div class="alert alert-info" th:if="${param.message != null}" th:text="${param.message[0]}">message</div>
            <div class="alert alert-danger" th:if="${param.error != null}">
                Invalid username and password
            </div>
        </div>
        <div class="form_wrap fw_small">
            <img alt="parking_photo" src="../static/img/park_empty.jpg" th:src="@{/img/park_empty.jpg}">
            <div class="form">
                <form method="POST" th:action="@{/login}">
                    <h1>Увійти в систему</h1>
                    <div class="simple_form">
                        <input type="email" id="username" name="username" placeholder="пошта" required>
                        <input type="password" id="password" name="password" placeholder="пароль" required>
                    </div>
                    <button type="submit">Увійти</button>
                </form>
                <a class="second_form" href="forgetPassword.html" th:href="@{/forgetPassword}">
                    <button type="submit">Забув пароль</button>
                </a>
            </div>
        </div>
    </div>
</section>

<footer class="main_footer bg1">
    <div class="footer_text">
        @explorers_team | Сайт створено з божою поміччю
    </div>
</footer>
</body>
</html>
