<!DOCTYPE html>
<html lang="en" th:lang="${#locale.getLanguage()}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap-reboot.css" th:href="@{/css/bootstrap-reboot.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/parking.css" th:href="@{/css/parking.css}">
    <title>Smart parking</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<section class="park_main bg2">
    <div class="msg">
        <div>
            <h1>На цьому все! Далі перейдемо до postman</h1>
            <div class="icons">
                <img src="../static/icons/chrome_icon.png" alt="chrome" th:src="@{/icons/chrome_icon.png}"/>
                <img class="icon_turn" src="../static/icons/arrow_icon.png" alt="arrow" th:src="@{/icons/arrow_icon.png}"/>
                <img src="../static/icons/postman_icon.png" alt="postman" th:src="@{/icons/postman_icon.png}"/>
            </div>
        </div>
    </div>
</section>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
