<!DOCTYPE html>
<html lang="en" th:lang="${#locale.getLanguage()}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap-reboot.css" th:href="@{/css/bootstrap-reboot.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/parking.css" th:href="@{/css/parking.css}">
    <title>Smart parking</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<section class="park_main bg2">
    <div class="coordinates" th:text="|Your coordinates: ${coordinates}|"></div>
    <div class="parkings">
        <div class="parking shadowbox" th:each="parking: ${parkingPlaces}">
            <div th:text="|x = ${parking.getX()}, y = ${parking.getY()} (${parking.getDistance()})|"></div>
            <div th:text="|Price per hour: ${parking.getPricePerHour()}|"></div>
        </div>
    </div>
</section>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
