<!DOCTYPE html>
<html lang="en" th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap-reboot.css" th:href="@{/css/bootstrap-reboot.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/registration.css" th:href="@{/css/registration.css}">

    <title>Smart parking</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<section class="reg bg2">
    <div class="alert alert-info" th:if="${message != null}" th:text="${message}"></div>

    <div class="form_wrap">
        <img src="../static/img/park_empty.jpg" alt="parking_photo" th:src="@{img/park_empty.jpg}"/>
        <div class="form">
            <form method="post" id="registration-form" th:action="@{/registration}" th:object="${registrationDto}">
                <h1>Приєднуйся до нас</h1>
                <p>Форма реєстрації</p>
                <fieldset>
                    <input type="text"
                           id="firstName"
                           name="firstName"
                           placeholder="ім'я"
                           required
                           th:value="*{firstName}">
                    <div class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>

                    <input type="text"
                           id="lastName"
                           name="lastName"
                           placeholder="прізвище"
                           required
                           th:value="*{lastName}">
                    <div class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>

                    <input type="email" id="email" name="email" placeholder="пошта" required th:value="*{email}">
                    <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

                    <input type="password"
                           id="password"
                           name="password"
                           placeholder="пароль"
                           required
                           th:value="*{password}">
                    <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

                    <input type="password"
                           id="matchingPassword"
                           name="matchingPassword"
                           placeholder="підтвердження паролю"
                           required
                           th:value="*{matchingPassword}">
                    <div class="error"
                         th:if="${#fields.hasErrors('matchingPassword')}"
                         th:errors="*{matchingPassword}"></div>
                </fieldset>
                <div class="error" th:each="err : ${#fields.errors('global')}" th:text="${err}"/>

                <div class="buttons">
                    <button type="submit">Зареєструватися</button>
                    <a class="link_button" href="login.html" th:href="@{/login}">Вже є аккаунт</a>
                </div>
            </form>
        </div>
    </div>
</section>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
