<!DOCTYPE html>
<html th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap-reboot.css" th:href="@{/css/bootstrap-reboot.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/registration.css" th:href="@{/css/registration.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/3.1.1/jquery.serializejson.min.js"></script>
    <script src="../static/js/registration.js" th:src="@{js/registration.js}"></script>
    <title>Smart parking</title>
</head>
<body>
<header class="main_header bg1">
    <div class="header_top">
        <img alt="user" class="user_logo" src="../static/icons/user.svg" th:src="@{/icons/user.svg}">
        user_name
    </div>
    <div class="header_bottom">
        <div class="logo">
            <img alt="logo" class="logo_icon" src="../static/icons/logoCircle.png" th:src="@{/icons/logoCircle.png}"/>
            <h3>SMART PARKING</h3>
        </div>
        <div class="menu">
            <nav class="header_nav">
                <ul>
                    <li>
                        <a class="header_nav_link" href="index.html" th:href="@{/}">Головна</a>
                    </li>
                    <li>
                        <a class="header_nav_link" href="login.html" th:href="@{/login}">Вхід</a>
                    </li>
                    <li>
                        <a class="header_nav_link" href="registration.html" th:href="@{/registration}">Реєстрація</a>
                    </li>
                </ul>
            </nav>
            <!--TODO lang-->
        </div>
    </div>
</header>

<section class="reg bg2">
    <div class="form_wrap">
        <img src="../static/img/park_empty.jpg" alt="parking_photo" th:src="@{img/park_empty.jpg}"/>
        <div class="form">
            <form id="registration-form">
                <h1>Приєднуйся до нас</h1>
                <p>Форма реєстрації</p>
                <div>
                    <input id="firstName" name="firstName" placeholder="ім'я" type="text">
                    <input id="lastName" name="lastName" placeholder="прізвище" required type="text">
                    <input id="email" name="email" placeholder="пошта" required type="email">
                    <input id="password" name="password" placeholder="пароль" required type="password">
                    <input id="matchingPassword" name="matchingPassword"
                           placeholder="підтвердження паролю" required type="password">
                </div>
                <button type="submit">Зареєструватися</button>
            </form>
            <a class="second_form sf_reg" href="login.html" th:href="@{/login}">
                <button type="submit">Вже є аккаунт</button>
            </a>
        </div>
    </div>
</section>

<footer class="main_footer bg1">
    <div class="footer_text">
        @explorers_team | Сайт створено з божою поміччю
    </div>
</footer>
</body>
</html>