<!DOCTYPE html>
<html lang="en" th:lang="${#locale.getLanguage()}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap-reboot.css" th:href="@{/css/bootstrap-reboot.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">

    <title th:text="#{updatePassword.title}"></title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<section class="simple_form_section bg2">
    <div class="form_wrap fw_small">
        <img src="../static/img/park_empty.jpg" alt="parking_photo" th:src="@{~/img/park_empty.jpg}"/>
        <div class="form">
            <form method="post"
                  id="update-password-form"
                  th:action="@{/user/updatePassword}"
                  th:object="${updatePasswordDto}">

                <h1 th:text="#{updatePassword.form.h1}"></h1>
                <fieldset class="simple_form">
                    <div th:replace="fragments/forms.html
                     :: formField(field='oldPassword', type='password', placeholder=#{updatePassword.form.placeholder.oldPassword}, is_required='true')"></div>
                    <div th:replace="fragments/forms.html
                     :: formField(field='newPassword', type='password', placeholder=#{updatePassword.form.placeholder.newPassword}, is_required='true')"></div>
                    <div th:replace="fragments/forms.html
                     :: formField(field='matchingPassword', type='password', placeholder=#{updatePassword.form.placeholder.matchingPassword}, is_required='true')"></div>
                </fieldset>
                <div class="error" th:each="err : ${#fields.errors('global')}" th:text="${err}"/>

                <button type="submit" th:text="#{updatePassword.form.button.submit}"></button>
            </form>
        </div>
    </div>
</section>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
