<!DOCTYPE html>
<html th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" rel="stylesheet">
    <link crossorigin="anonymous" href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet">
    <title>Smart parking</title>
</head>
<body>
<form class="form-signin" id="registration-form">
    <h2 class="form-signin-heading">Set new Password</h2>
    <p>
        <label class="sr-only" for="newPassword">firstName</label>
        <input class="form-control" id="newPassword" name="newPassword" placeholder="newPassword" type="password">
    </p>
    <p>
        <label class="sr-only" for="matchingPassword">firstName</label>
        <input class="form-control" id="matchingPassword" name="matchingPassword" placeholder="matchingPassword"
               type="password">
    </p>
    <input name="token" th:value="${param.token}" type="hidden">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Apply</button>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/3.1.1/jquery.serializejson.min.js"></script>
<script>
    const home = "http://localhost:8080/";

    $("#update-password-form").submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: "PUT",
            contentType: "application/json",
            url: home + "updateForgottenPassword",
            data: JSON.stringify($("#update-password-form").serializeJSON()),
            dataType: 'json',
            success: function (tx_response) { //FIXME
                // alert('Success');
                // $('.result').html(tx_response.data)
                // window.location.href = tx_response.data
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    });
</script>
</body>
</html>