<!DOCTYPE html>
<html th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap-reboot.css" th:href="@{/css/bootstrap-reboot.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">

    <title>Smart parking</title>
</head>
<body>
<header class="main_header bg1">
    <div class="header_top">
        <img class="user_logo" alt="user" src="../static/icons/user.svg" th:src="@{/icons/user.svg}">
        user_name
    </div>
    <div class="header_bottom">
        <div class="logo">
            <img class="logo_icon" alt="logo" src="../static/icons/logoCircle.png" th:src="@{/icons/logoCircle.png}"/>
            <h3>SMART PARKING</h3>
        </div>
        <div class="menu">
            <nav class="header_nav">
                <ul>
                    <li>
                        <a class="header_nav_link" href="index.html" th:href="@{/}">Головна</a>
                    </li>
                    <li>
                        <a class="header_nav_link" href="login.html" th:href="@{/login}">Вхід</a>
                    </li>
                    <li>
                        <a class="header_nav_link" href="registration.html" th:href="@{/registration}">Реєстрація</a>
                    </li>
                </ul>
            </nav>
            <!--TODO lang-->
        </div>
    </div>
</header>

<section class="simple_form_section bg2">
    <div class="form_wrap fw_small">
        <img alt="parking_photo" src="../static/img/park_empty.jpg" th:src="@{/img/park_empty.jpg}">
        <div class="form">
            <form method="post"
                  id="update-password-form"
                  th:action="@{/updateForgottenPassword}"
                  th:object="${forgotPasswordDto}">
                <h1>Встановити новий пароль</h1>
                <fieldset class="simple_form">
                    <input type="password"
                           id="newPassword"
                           name="newPassword"
                           placeholder="новий пароль"
                           required
                           th:value="*{newPassword}">
                    <div class="error" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></div>

                    <input type="password"
                           id="matchingPassword"
                           name="matchingPassword"
                           placeholder="підтвердження паролю"
                           required
                           th:value="*{matchingPassword}">
                    <div class="error"
                         th:if="${#fields.hasErrors('matchingPassword')}"
                         th:errors="*{matchingPassword}"></div>

                    <input type="hidden" name="token" th:value="${param.token}">
                    <div class="error" th:if="${#fields.hasErrors('token')}" th:errors="*{token}"></div>
                </fieldset>
                <div class="error" th:each="err : ${#fields.errors('global')}" th:text="${err}"/>

                <button type="submit">Змінити пароль</button>
            </form>
        </div>
    </div>
</section>

<footer class="main_footer bg1">
    <div class="footer_text">
        @explorers_team | Сайт створено з божою поміччю
    </div>
</footer>
</body>
</html>
